<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Buscar proveedores</h4>
        <hr>
      </div>
      <div class="panel-body">
 <%= search_form_for @q do |f| %>
      <div class="row">
      <div class="col-md-12">
        <label>Proveedor:</label>
        <%= f.search_field :razon_social_or_rfc_or_alias_or_encargado_cont, placeholder: "Buscar proveedor por Razón Social, R.F.C,alias o encargado"  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Buscar", class: "btn btn-primary" %>
      </div>
      </div>    
    <% end %>       
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Proveedores</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              
              <th>Alias</th>
              <th>Rfc</th>
              <th>Razon social</th>
              <th>Direccion</th>
              <th>Encargado</th>
              <th>Telefono contacto</th>
              <th>Correo contacto</th>
              <th>Codigo proveedor</th>
              <% if user_signed_in? && current_user.admin? %>
              <th colspan="3"></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @providers.each do |provider| %>
            <tr>
              
              <td><%= provider.alias %></td>
              <td><%= provider.rfc %></td>
              <td><%= provider.razon_social %></td>
              <td><%= provider.direccion.truncate(50) %></td>
              <td><%= provider.encargado %></td>
              <td><%= provider.telefono_encargado %></td>
              <td><%= provider.correo_encargado %></td>
              <td><%= provider.codigo_proveedor %></td>
              <% if user_signed_in? && current_user.admin? %>
              <td><%= link_to 'Ver más', provider %></td>
              <td><%= link_to 'Editar', edit_provider_path(provider) %></td>
              <td><%= link_to 'Eliminar', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="center">
    <% unless @providers.blank? %>
    <%= will_paginate @providers %>
    <% end %>
  </div>
</div>