<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= form.label :client_id %>
        <%= form.select :client_id, Client.all.collect { |p| [ "#{p.alias}", p.id ] }, {:prompt => 'Elige Cliente'}, {:required => true} %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= form.label :product_id %>
        <%= form.select :product_id, Product.all.collect { |p| [ "#{p.nombre}", p.id ] }, {:prompt => 'Elige Producto'}, {:required => true} %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :numero_de_pedido %>
    <%= form.select :order_id, Order.where({ "cerrado" => false }).order('fecha_de_orden DESC').collect { |p| [ "#{p.numero_de_orden}, (#{p.fecha_de_orden}), #{@a= p.cantidad - @b= p.services.map(&:cantidad_real_etregada).sum} kilos (#{number_to_percentage (100- (@b/p.cantidad) *100)}) restantes" , p.id ] }, {:prompt => 'Elige Número de Pedido'}  %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad, id: :service_cantidad %>
  </div>

  <div class="field">
    <%= form.label :fecha_de_entrega %>
    <%= form.text_field :fecha_de_entrega, id: :service_fecha_de_entrega, placeholder: 'Elige fecha', autocomplete: "off" %>
  </div>


  <div class="field">
    <%= form.label :proveedor %>
    <%= form.select :provider_id, Provider.all.collect { |p| [ "#{p.alias}", p.id ] }, {:prompt => 'Elige Proveedor'}, {:required => true} %>
  </div>



  <div class="field">
    <%= form.label :fletera %>
    <%= form.select :charter_id, Charter.all.collect { |p| [ "#{p.alias}", p.id ] }, {:prompt => 'Elige Fletera'}, {:required => true} %>
  </div>



  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>

<div id="user_role" style="display: none;"><%= current_user.role %></div>

<script>
  $( function() {
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth();
    var day = date.getDate();

    var userRole = $('#user_role').text();
    var minDate = new Date();
    if(userRole == 'admin' || userRole == 'super_admin') {
      minDate = new Date(year, month - 2, day);
    }

    $( "#service_fecha_de_entrega" ).datepicker({
      dateFormat: 'dd.mm.yy',
      minDate: minDate,
      maxDate: new Date(year, month + 2, day),
      dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
      monthNames: [ 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubure', 'noviembre', 'diciembre' ],
      firstDay: 1,
    });
  });
</script>
