<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero_de_pedido %>
    <%= form.select :order_id, Order.where({ "cerrado" => false }).order('fecha_de_orden DESC').collect { |p| [ "#{p.numero_de_orden}, #{p.client.alias}, #{p.cantidad} kilos - #{p.product.nombre}  (#{p.fecha_de_orden})" , p.id ] }, {:prompt => 'Elige Número de Pedido'}, {:required => true}  %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad, id: :service_cantidad %>
  </div>

  <div class="field">
    <%= form.label :fecha_de_entrega %>
    <%= form.date_field :fecha_de_entrega, id: :service_fecha_de_entrega %>
  </div>


  <div class="field">
    <%= form.label :proveedor %>
    <%= form.select :provider_id, Provider.all.collect { |p| [ "#{p.alias}", p.id ] }, {:prompt => 'Elige Proveedor'}, {:required => true} %>
  </div>

  <div class="field">
    <%= form.label :requiere_factura_proveedor %>
    <%= form.check_box :requiere_factura_p, id: :service_requiere_factura_p %>
  </div>

  <div class="field">
    <%= form.label :fletera %>
    <%= form.select :charter_id, Charter.all.collect { |p| [ "#{p.alias}", p.id ] }, {:prompt => 'Elige Fletera'}, {:required => true} %>
  </div>

  <div class="field">
    <%= form.label :requiere_factura_fletera %>
    <%= form.check_box :requiere_factura_f, id: :service_requiere_factura_f %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
