<div id="Mexico" class="w3-container city" style="display:none">
	  <h3>Proveedores</h3>
  <hr>
<div class="row">

	<div class="col-md-6">

<p>
  <strong>Provider:</strong> <br>
  <%= @service.provider.alias %>
</p>

<p>
  <strong>Requiere factura p: <a href="#" id="61"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  
<%= best_in_place @service, :requiere_factura_p, as: :checkbox , collection: {false: "Nope", true: "Yep"},  :activator => "#61"%>
</p>

<p>
  <strong>Pago a proveedor: <a href="#" id="62"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= @service.pago_a_proveedor %>
  <%= best_in_place @service, :condiciones_p,  :activator => "#62" , :place_holder => "Pago a proveedor"%>
</p>

<p>
  <strong>Condiciones p: <a href="#" id="63"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= @service.condiciones_p %>
  <%= best_in_place @service, :condiciones_p,  :activator => "#63" , :place_holder => "Condiciones del proveedor"%>
</p>

<p>
  <strong>Factura recibida p: <a href="#" id="64"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  
<%= best_in_place @service, :factura_recibida_p, as: :checkbox , collection: {false: "Nope", true: "Yep"},  :activator => "#64"%>
</p>

<p>
  <strong>Pagado proveedor: <a href="#" id="65"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= @service.pagado_proveedor %>
  <%= best_in_place @service, :pagado_proveedor, as: :checkbox , collection: {false: "Nope", true: "Yep"},  :activator => "#65"%>
</p>


	</div>


<div class="col-md-6">

<p>
  <strong>Charter:</strong> <br>
  <%= @service.charter.alias %>
</p>

<p>
  <strong>Requiere factura f: <a href="#" id="66"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  
<%= best_in_place @service, :requiere_factura_f, as: :checkbox , collection: {false: "Nope", true: "Yep"},  :activator => "#66"%>
</p>

<p>
  <strong>Pago a fletera: <a href="#" id="67"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= @service.pago_a_fletera %>
  <%= best_in_place @service, :condiciones_p,  :activator => "#67" , :place_holder => "Pago a Fletera"%>
</p>

<p>
  <strong>Condiciones f: <a href="#" id="68"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= @service.condiciones_f %>
  <%= best_in_place @service, :condiciones_f,  :activator => "#68" , :place_holder => "Condiciones de Fletera"%>
</p>

<p>
  <strong>Factura recibida f: <a href="#" id="69"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  
<%= best_in_place @service, :factura_recibida_f, as: :checkbox , collection: {false: "Nope", true: "Yep"},  :activator => "#69"%>
</p>

<p>
  <strong>Pagado fletera: <a href="#" id="70"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= @service.pagado_fletera %>
  <%= best_in_place @service, :pagado_fletera, as: :checkbox , collection: {false: "Nope", true: "Yep"},  :activator => "#70"%>
</p>
	
</div>
</div>

<br><br><br>

<p>
  <strong>Gasto operacion: <a href="#" id="71"> <span class="grande fa fa-pencil"></span></a></strong> <br>
  <%= best_in_place @service, :gasto_operacion,  :activator => "#71" , :place_holder => "Gasto de Operación"%>
</p>

</div>