<%= render 'pedido' %>

<%= form_for @service do |form| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-headline">
      
      <div class="panel-heading">
        <h4>Proveedores:</h4>
        <hr>
      </div>

<div class="panel-body">


<div class="row">
  <div class="col-md-6">
<div class="field">
    <%= form.label :provider_id %> <br>
    <%= @service.provider.alias if @service.provider.present? %>
</div>


  <div class="field">
    <%= form.label :cantidad_real_etregada %>
    <%= form.number_field :cantidad_real_etregada, id: :service_cantidad_real_etregada, step: :any, required: true %>
  </div>

  <div class="field">
    <%= form.label :condiciones_proveedor %>
    <%= form.text_area :condiciones_p, id: :service_condiciones_p %>
  </div>


<% if @service.requiere_factura_p == true %>
  <div class="field">
    <%= form.label :factura_recibida_proveedor %>
    <%= form.check_box :factura_recibida_p, id: :service_factura_recibida_p %>
  </div>
<% end %>

  </div>

  <div class="col-md-6">
<div class="field">
    <%= form.label :charter_id %> <br>
    <%= @service.charter.alias if @service.charter.present? %>
</div>

<br><br><br><br>

  <div class="field">
    <%= form.label :condiciones_fletera %>
    <%= form.text_area :condiciones_f, id: :service_condiciones_f %>
  </div>


<% if @service.requiere_factura_f == true %>
  <div class="field">
    <%= form.label :factura_recibida_fletera %>
    <%= form.check_box :factura_recibida_f, id: :service_factura_recibida_f %>
  </div>
<% end %>

  </div>
</div>









         <br>
        <div class="actions">
          <%= form.submit "Guardar cambios", class: "btn btn-primary"%>
        </div>
        <br>


</div>


</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to "<- Proveedores", etapa_1_service_path(@service),class: "btn btn-primary btn-block" %>
  </div>
  <div class="col-md-6">
    <%= link_to "Datos de GR ->", etapa_3_service_path(@service),class: "btn btn-primary btn-block" %>
  </div>
</div>

</div>
</div>

<% end %>
