<%= render 'pedido' %>

<%= form_for @service do |form| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-headline">
    
      <div class="panel-heading">
        <h4>Facturación:</h4>
        <hr>
      </div>  

<div class="panel-body">

  <div class="field">
    <%= form.label :fecha_por_cobrar %>
    <%= form.text_field :fecha_por_cobrar, id: :service_fecha_por_cobrar, placeholder: 'Elige Fecha' %>
  </div>

  <div class="field">
    <%= form.label :pagado %>
    <%= form.check_box :pagado, id: :service_pagado %>
  </div>

        <br>
        <div class="actions">
          <%= form.submit "Guardar cambios", class: "btn btn-primary"%>
        </div>
        <br>

</div>


</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to "<- Facturación", etapa_4_service_path(@service),class: "btn btn-primary btn-block" %>
  </div>
  <div class="col-md-6">

  </div>
</div>

</div>
</div>

<% end %>

<script>
  $( function() {
    $( "#service_fecha_por_cobrar" ).datepicker({
      dateFormat: 'dd.mm.yy',
      dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
      monthNames: [ 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubure', 'noviembre', 'diciembre' ],
      firstDay: 1,
    });
  });
</script>
