<%= render 'pedido' %>

<%= form_for @service do |form| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-headline">
      
      <div class="panel-heading">
        <h3>Proveedores:</h3>
        <hr>
      </div>

<div class="panel-body">


<div class="row">
  <div class="col-md-6">
<div class="field">
    <%= form.label :provider_id %> <br>
    <%= @service.provider.alias if @service.provider.present? %>
</div>


  <div class="field">
    <%= form.label :cantidad_real_etregada %>
    <%= form.number_field :cantidad_real_etregada, id: :service_cantidad_real_etregada, step: :any, required: true %>
  </div>

  <div class="field">
    <%= form.label :condiciones_proveedor %>
    <%= form.text_area :condiciones_p, id: :service_condiciones_p %>
  </div>


<% if @service.requiere_factura_p == true %>
  <div class="field">
    <%= form.label :factura_recibida_proveedor %>
    <%= form.check_box :factura_recibida_p, id: :service_factura_recibida_p %>
  </div>
<% end %>

  </div>

  <div class="col-md-6">
<div class="field">
    <%= form.label :charter_id %> <br>
    <%= @service.charter.alias if @service.charter.present? %>
</div>

<br><br><br><br>

  <div class="field">
    <%= form.label :condiciones_fletera %>
    <%= form.text_area :condiciones_f, id: :service_condiciones_f %>
  </div>


<% if @service.requiere_factura_f == true %>
  <div class="field">
    <%= form.label :factura_recibida_fletera %>
    <%= form.check_box :factura_recibida_f, id: :service_factura_recibida_f %>
  </div>
<% end %>

  </div>
</div>
<hr>


<div class="row">
  <div class="col-md-3 col-md-offset-3">
     <div class="field">
    <%= form.label :cantidad_real_etregada %> <br>
    <%= @service.cantidad_real_etregada %> kilos
  </div> 
  </div>
  <div class="col-md-3">
      <div class="field">
    <%= form.label :precio_de_venta %> <br>
    <%= number_to_currency @service.order.precio_unitario %>
  </div>
  </div>
  
  <div class="col-md-3">
      <div class="field">
    <%= form.label :total_venta %> <br>
    <%= number_to_currency @service.total_venta %>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
     <div class="field">
    <%= form.label :cantidad_real_etregada %> <br>
    <%= @service.cantidad_real_etregada %> kilos
  </div> 
  </div>
  <div class="col-md-3">
      <div class="field">
    <%= form.label :costo_de_compra %> <br>
    <%= number_to_currency @service.order.product.costo_producto %>
  </div>
  </div>
  <div class="col-md-3">
      <div class="field">
    <%= form.label :gasto_de_flete %> <br>
    <%= number_to_currency @service.charter.precio_de_envio %>
  </div>
  </div>
  <div class="col-md-3">
      <div class="field">
    <%= form.label :gasto_operacion %> <br>
    <%= number_to_currency @service.gasto_operacion %>
  </div>
  </div>
</div>



<div class="row">
    <div class="col-md-3 col-md-offset-9">
      <div class="field">
    <%= form.label :ganancia %> <br>
    <%= number_to_currency @service.ganancia %>
  </div>
  </div>
</div>


<hr>











         <br>
        <div class="actions">
          <%= form.submit "Guardar cambios", class: "btn btn-primary"%>
        </div>
        <br>


</div>


</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to "Documentación", etapa_2_service_path(@service),class: "btn btn-primary btn-block" %>
  </div>
  <div class="col-md-6">
    <%= link_to "Datos de GR", etapa_4_service_path(@service),class: "btn btn-primary btn-block" %>
  </div>
</div>

</div>
</div>

<% end %>