<%= render 'pedido' %>

<%= form_for @service do |form| %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-headline">

      <div class="panel-heading">
        <h4>Remisión:</h4>
        <h5><%= @service.codigo_remision %></h5>

        <% if @service.codigo_remision.present? %>
        <%= link_to "Ver PDF de remisión", service_path(@service.codigo_remision, format: 'pdf'), class: "button button_primary", :target => "_blank" %>
        <hr>
        <% else %>
        <a class="btn btn-primary disabled">CÓDIGO DE REMISIÓN FALTANTE</a>
        <% end %>
      </div>

      <div class="panel-body">
        <div class="field">
          <label>cantidad solicitada</label> <br>
          
          <%= @service.cantidad%>
        </div>

        <div class="field">
          <label>fecha de entrega</label> <br>
          
          <%= @service.fecha_de_entrega.strftime(" %d-%m-%Y")%>
        </div>

        <div class="row">
        <div class="col-md-4">
        <div class="field">
          <label>Proveedor</label> <br>
          
          <%= @service.provider.alias%>
        </div>
      </div>



       <div class="col-md-4">
        <div class="field">
          <label>Fletera</label> <br>
          
          <%= @service.charter.alias%>
        </div>
      </div>

<div class="col-md-4">
        <div class="field">
          <label>Producto</label> <br>
          
          <%= @service.product.nombre%> <br>
          <%= @service.precio_de_compra %>
        </div>
      </div>
      </div>

        <br>
        <div class="actions">
          <%= form.submit "Guardar cambios", class: "btn btn-primary"%>
        </div>
        <br>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <%= link_to "Proveedores ->", etapa_2_service_path(@service),class: "btn btn-primary btn-block" %>
      </div>
    </div>

  </div>
</div>
</div>

<% end %>
