<%= render 'pedido' %>

<%= form_for @service do |form| %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-headline">
    
      <div class="panel-heading">
        <h4>Facturación:</h4>
        <hr>
      </div>  

<div class="panel-body">

  <div class="field">
    <%= form.label :numero_de_factura %>
    <%= form.text_field :numero_de_factura, id: :service_numero_de_factura %>
  </div>


  <div class="field">
    <%= form.label :fecha_de_facturacion %>
    <%= form.text_field :fecha_de_facturacion, id: :service_fecha_de_facturacion, placeholder: 'Elige Fecha' %>
  </div>

        <br>
        <div class="actions">
					<%= hidden_field_tag :etapa, 4 %>
          <%= form.submit "Guardar cambios", class: "btn btn-primary"%>
        </div>
        <br>

</div>


</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to "<- Datos de GR", etapa_3_service_path(@service),class: "btn btn-primary btn-block" %>
  </div>
  <div class="col-md-6">
    <%= link_to "Tugsten y Pago ->", etapa_5_service_path(@service),class: "btn btn-primary btn-block" %>
  </div>
</div>

</div>
</div>

<% end %>

<script>
  $( function() {
    $( "#service_fecha_de_facturacion" ).datepicker({
      dateFormat: 'dd.mm.yy',
      dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
      monthNames: [ 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubure', 'noviembre', 'diciembre' ],
      firstDay: 1,
    });
  });
</script>
