<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Buscar pedidos</h4>
        <hr>
      </div>
      <div class="panel-body">
 <%= search_form_for @q do |f| %>
      <div class="row">
      <div class="col-md-3">
        <label>Cliente:</label>
        <%= f.select :order_client_id_eq, options_from_collection_for_select(Client.all, "id", "alias", @q.order_client_id_eq), {:prompt => 'Elige cliente'} %>
      </div>
      <div class="col-md-3">
        <label>Producto:</label>
        <%= f.select :order_product_id_eq, options_from_collection_for_select(Product.all, "id", "alias", @q.order_product_id_eq), {:prompt => 'Elige producto'} %>
      </div>

      <div class="col-md-3">
        <label>Proveedor:</label>
        <%= f.select :provider_id_eq, options_from_collection_for_select(Provider.all, "id", "alias", @q.provider_id_eq), {:prompt => 'Elige cliente'} %>
      </div>
      <div class="col-md-3">
        <label>Fletera:</label>
        <%= f.select :charter_id_eq, options_from_collection_for_select(Charter.all, "id", "alias", @q.charter_id_eq), {:prompt => 'Elige producto'} %>
      </div>

    </div>

  <div class="row">
    <div class="input-daterange" id="datepicker">
      <div class="col-md-3">
        <label>Fecha Inicial:</label>
        <%= f.text_field :fecha_de_entrega_gteq, class: "form-control2", placeholder: "Date >= to" %>
      </div>
      <div class="col-md-3">
        <label>Fecha Final:</label>
        <%= f.text_field :fecha_de_entrega_lteq, class: "form-control2", placeholder: "Date <= to" %>
      </div>

      <div class="col-md-3">
        <label>GR:</label>
        <%= f.search_field :gr_cont, placeholder: "Número de orden"  %>

      </div>

      <div class="col-md-3">
        <label>Número de factura:</label>
        <%= f.search_field :numero_de_factura_cont, placeholder: "Nombre del encargado"  %>

      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Buscar", class: "btn btn-primary" %>
      </div>
      </div>    
    <% end %>       
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Remisiones</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Remisión</th>
              <th>Pedido</th>
              <th>Cantidad</th>
              <th>Fecha de entrega</th>
              <th>Status comercial</th>
              <th>Cliente</th>
              <th>Etapa</th>
              <th>Proveedor</th>
              <th>Fletera</th>
              <% if user_signed_in? && current_user.admin? %>
              <th>Gasto operacion</th>
              <% end %>
              <th>Gr</th>
              <th>Numero de factura</th>
              <th>Kilos finales</th>
              <th>Total por facturar</th>
              <th>Fecha de facturacion</th>
              <th>Fecha por cobrar</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @services.each do |service| %>
            <tr>
              
              <td><%= service.codigo_remision %></td>
              <td><%= service.order.numero_de_orden %></td>
              <td><%= service.cantidad %></td>
              <td><%= service.fecha_de_entrega %></td>
              <td><%= service.status_comercial %></td>
              <td><%= service.order.client.alias%></td>
              <td><%= service.etapa %></td>
              <td><%= service.provider.alias %></td>
              <td><%= service.charter.alias %></td>
              <% if user_signed_in? && current_user.admin? %>
              <td><%= service.gasto_operacion %></td>
              <% end %>
              <td><%= service.gr %></td>
              <td><%= service.numero_de_factura %></td>
              <td><%= service.kilos_finales %></td>
              <td><%= service.total_por_facturar %></td>
              <td><%= service.fecha_de_facturacion %></td>
              <td><%= service.fecha_por_cobrar %></td>
              <td><%= link_to 'Ver más', etapa_1_service_path(service) %></td>
              <!-- <td><%#= link_to 'Continuar', etapa_1_service_path(service) %></td> -->
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="center">
    <% unless @orders.blank? %>
    <%= will_paginate @orders %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.form-control2').datepicker({
      todayHighlight: true,
      toggleActive: true,
      format: "mm-yyyy",
      viewMode: "months", 
      minViewMode: "months"
    });
  });
</script>