<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Remisiones</h3>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Remisión</th>
              <th>Pedido</th>
              <th>Cantidad</th>
              <th>Fecha de entrega</th>
              <th>Status comercial</th>
              <th>Etapa</th>
              <th>Proveedor</th>
              <th>Fletera</th>
              <th>Gasto operacion</th>
              <th>Gr</th>
              <th>Numero de factura</th>
              <th>Kilos finales</th>
              <th>Total por facturar</th>
              <th>Fecha de facturacion</th>
              <th>Fecha por cobrar</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @services.each do |service| %>
            <tr>
              
              <td><%= service.codigo_remision %></td>
              <td><%= service.order.numero_de_orden %></td>
              <td><%= service.cantidad %></td>
              <td><%= service.fecha_de_entrega %></td>
              <td><%= service.status_comercial %></td>
              <td><%= service.etapa %></td>
              <td><%= service.provider.alias %></td>
              <td><%= service.charter.alias %></td>
              <td><%= service.gasto_operacion %></td>
              <td><%= service.gr %></td>
              <td><%= service.numero_de_factura %></td>
              <td><%= service.kilos_finales %></td>
              <td><%= service.total_por_facturar %></td>
              <td><%= service.fecha_de_facturacion %></td>
              <td><%= service.fecha_por_cobrar %></td>
              <td><%= link_to 'Ver más', etapa_1_service_path(service) %></td>
              <!-- <td><%#= link_to 'Continuar', etapa_1_service_path(service) %></td> -->
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>
</div>