<div class="row" id="quantity">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Remision #<%= @service.id %></h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= form_with(model: @service, local: true) do |form| %>
          <div class="field">
            <%= form.label :cantidad_real_etregada %>
            <%= form.number_field :cantidad_real_etregada, value: @service.cantidad_real_etregada %>
          </div>

          <div class="field">
            <%= form.label 'Imagen del producto' %>

            <%= form.file_field :image %>
          </div>

          <br>

          <div class="field">
            <%= form.label 'Encuesta de Satisfacción' %>
            <%= form.select :satisfaction, Service.satisfactions.keys.map { |w| [w.humanize, w] }, {:prompt => 'Elegir grado', selected: @service.satisfaction}, {:required => true} %>
          </div>

          <%= form.submit "Guardar", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>