<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @service.user %>
</p>

<p>
  <strong>Order:</strong>
  <%= @service.order %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @service.cantidad %>
</p>

<p>
  <strong>Fecha de entrega:</strong>
  <%= @service.fecha_de_entrega %>
</p>

<p>
  <strong>Status operativo:</strong>
  <%= @service.status_operativo %>
</p>

<p>
  <strong>Status comercial:</strong>
  <%= @service.status_comercial %>
</p>

<p>
  <strong>Etapa:</strong>
  <%= @service.etapa %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @service.provider %>
</p>

<p>
  <strong>Requiere factura p:</strong>
  <%= @service.requiere_factura_p %>
</p>

<p>
  <strong>Pago a proveedor:</strong>
  <%= @service.pago_a_proveedor %>
</p>

<p>
  <strong>Condiciones p:</strong>
  <%= @service.condiciones_p %>
</p>

<p>
  <strong>Pagado proveedor:</strong>
  <%= @service.pagado_proveedor %>
</p>

<p>
  <strong>Charter:</strong>
  <%= @service.charter %>
</p>

<p>
  <strong>Requiere factura f:</strong>
  <%= @service.requiere_factura_f %>
</p>

<p>
  <strong>Pago a fletera:</strong>
  <%= @service.pago_a_fletera %>
</p>

<p>
  <strong>Condiciones f:</strong>
  <%= @service.condiciones_f %>
</p>

<p>
  <strong>Pagado fletera:</strong>
  <%= @service.pagado_fletera %>
</p>

<p>
  <strong>Codigo remision:</strong>
  <%= @service.codigo_remision %>
</p>

<p>
  <strong>Remision enviada:</strong>
  <%= @service.remision_enviada %>
</p>

<p>
  <strong>Calidad enviada:</strong>
  <%= @service.calidad_enviada %>
</p>

<p>
  <strong>Seguridad enviada:</strong>
  <%= @service.seguridad_enviada %>
</p>

<p>
  <strong>Otro enviada:</strong>
  <%= @service.otro_enviada %>
</p>

<p>
  <strong>Gasto operacion:</strong>
  <%= @service.gasto_operacion %>
</p>

<p>
  <strong>Remision sellada:</strong>
  <%= @service.remision_sellada %>
</p>

<p>
  <strong>Tickets:</strong>
  <%= @service.tickets %>
</p>

<p>
  <strong>Cantidad real etregada:</strong>
  <%= @service.cantidad_real_etregada %>
</p>

<p>
  <strong>Pago real p:</strong>
  <%= @service.pago_real_p %>
</p>

<p>
  <strong>Factura recibida p:</strong>
  <%= @service.factura_recibida_p %>
</p>

<p>
  <strong>Factura recibida f:</strong>
  <%= @service.factura_recibida_f %>
</p>

<p>
  <strong>Gr:</strong>
  <%= @service.gr %>
</p>

<p>
  <strong>Numero de factura:</strong>
  <%= @service.numero_de_factura %>
</p>

<p>
  <strong>Kilos finales:</strong>
  <%= @service.kilos_finales %>
</p>

<p>
  <strong>Total por facturar:</strong>
  <%= @service.total_por_facturar %>
</p>

<p>
  <strong>Fecha de facturacion:</strong>
  <%= @service.fecha_de_facturacion %>
</p>

<p>
  <strong>Fecha por cobrar:</strong>
  <%= @service.fecha_por_cobrar %>
</p>

<p>
  <strong>Pagado:</strong>
  <%= @service.pagado %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
