<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Clientes</h3>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              
              <th>Alias</th>
              <th>Rfc</th>
              <th>Razon social</th>
              <th>Direccion</th>
              <th>Planta</th>
              <th>Codigo empresa</th>
              <th>Codigo planta</th>
              <th>Numero proveedor</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @clients.each do |client| %>
            <tr>
              
              <td><%= client.alias %></td>
              <td><%= client.rfc %></td>
              <td><%= client.razon_social %></td>
              <td><%= client.direccion.truncate(50) %></td>
              <td><%= client.planta %></td>
              <td><%= client.codigo_empresa %></td>
              <td><%= client.codigo_planta %></td>
              <td><%= client.numero_proveedor %></td>
              <td><%= link_to 'Ver más', client %></td>
              <td><%= link_to 'Editar', edit_client_path(client) %></td>
              <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>
</div>