<%= form_with(model: provider_payment, local: true) do |form| %>
  <% if provider_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider_payment.errors.count, "error") %> prohibited this provider_payment from being saved:</h2>

      <ul>
      <% provider_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :proveedor %>
    <%= form.select :provider_id, Provider.all.collect { |p| [ "#{p.alias}", p.id ] }, {:prompt => 'Elige Proveedor'}, {:required => true} %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad, id: :provider_payment_cantidad,  step: :any %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.text_field :fecha, id: :provider_payment_fecha, placeholder: 'Elige Fecha' %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $( function() {
    $( "#provider_payment_fecha" ).datepicker({
      dateFormat: 'dd.mm.yy',
      dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
      monthNames: [ 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubure', 'noviembre', 'diciembre' ],
      firstDay: 1,
    });
  });
</script>
