<p id="notice"><%= notice %></p>

<h1>Provider Payments</h1>

<table>
  <thead>
    <tr>
      <th>Provider</th>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provider_payments.each do |provider_payment| %>
      <tr>
        <td><%= provider_payment.provider %></td>
        <td><%= provider_payment.cantidad %></td>
        <td><%= provider_payment.fecha %></td>
        <td><%= link_to 'Show', provider_payment %></td>
        <td><%= link_to 'Edit', edit_provider_payment_path(provider_payment) %></td>
        <td><%= link_to 'Destroy', provider_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider Payment', new_provider_payment_path %>
