<div class="row">
  <div class="col-md-12">
    <ul>
      <% @search_results.each do |result| %>
        <li><%= link_to result.class.name + ' : ' + result.id.to_s, result %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to new_order_path do %>
    <div id="mexico" class="mexico1">
      <h5>Nuevo pedido</h5>
    </div>
    <% end %>
  </div>

<div class="col-md-6">
    <%= link_to new_service_path do %>
    <div id="mexico" class="mexico2">
      <h5>Nueva remisión</h5>
    </div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <%= link_to new_client_path do %>
    <div id="mexico" class="mexico3">
      <h5>Nuevo cliente</h5>
    </div>
    <% end %>
  </div>

<div class="col-md-3">
    <%= link_to new_product_path do %>
    <div id="mexico" class="mexico4">
      <h5>Nuevo producto</h5>
    </div>
    <% end %>
  </div>

<div class="col-md-3">
    <%= link_to new_provider_path do %>
    <div id="mexico" class="mexico5">
      <h5>Nuevo proveedor</h5>
    </div>
    <% end %>
  </div>

<div class="col-md-3">
    <%= link_to new_charter_path do %>
    <div id="mexico" class="mexico6">
      <h5>Nueva fletera</h5>
    </div>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Remisiones</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= column_chart Service.group_by_month(:created_at, format: "%G-%B").count,
    title: 'Remisiones mensuales',
    colors: ['#F9A972'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Pedidos</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Order.group_by_month(:created_at, format: "%G-%B").count,
    title: 'Pedidos mensuales',
    colors: ['#C87DB5'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Producto Pedido</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Order.all.group_by_month(:fecha_de_orden, last: 12, current: false).sum('cantidad'),
    title: 'Producto mensual pedido',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Producto entregado</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.all.group_by_month(:fecha_de_entrega, last: 12, current: false).sum('cantidad_real_etregada'),
    title: 'Producto mensual entregado',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Pago a proveedores</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart ProviderPayment.all.group_by_month(:fecha, last: 12, current: false).sum('cantidad'),
    title: 'Pago mensual a proveedores',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Pago a fleteras</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart CharterPayment.all.group_by_month(:fecha, last: 12, current: false).sum('cantidad'),
    title: 'Pago mensual a fleteras',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Facturación</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.all.group_by_month(:fecha_de_entrega, last: 12, current: false).sum('total_por_facturar'),
    title: 'Facturación Mensual',
    colors: ['#F26D6B'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>     
      </div>
    </div>
  </div>


<%= javascript_include_tag "https://www.google.com/jsapi" %>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Etapa 1:</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Remisión</th>
              <th>Pedido</th>
              <th>Cantidad</th>
              <th>Fecha de entrega</th>
              <th>Cliente</th>
              <th>Proveedor</th>
              <th>Fletera</th>
              <% if user_signed_in? && current_user.admin? %>
              <th>Gasto operacion</th>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @services1.each do |service| %>
            <tr>
              
              <td><%= service.codigo_remision %></td>
              <td><%= service.order.numero_de_orden %></td>
              <td><%= service.cantidad %></td>
              <td><%= service.fecha_de_entrega %></td>
              <td><%= service.client.alias%></td>
              <td><%= service.provider.alias %></td>
              <td><%= service.charter.alias %></td>
              <% if user_signed_in? && current_user.admin? %>
              <td><%= service.gasto_operacion %></td>
              <% end %>
              <td><%= link_to 'Ver más', etapa_1_service_path(service) %></td>
              <!-- <td><%#= link_to 'Continuar', etapa_1_service_path(service) %></td> -->
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div> 
      <div class="row">
  <div class="center">
    <% unless @services1.blank? %>
    <%= will_paginate @services1 %>
    <% end %>
  </div>
</div>      
    </div>
  </div>
</div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Etapa 2:</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Remisión</th>
              <th>Pedido</th>
              <th>Cantidad</th>
              <th>Fecha de entrega</th>
              <th>Cliente</th>
              <th>Proveedor</th>
              <th>Fletera</th>
              <% if user_signed_in? && current_user.admin? %>
              <th>Gasto operacion</th>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @services2.each do |service| %>
            <tr>
              
              <td><%= service.codigo_remision %></td>
              <td><%= service.order.numero_de_orden %></td>
              <td><%= service.cantidad %></td>
              <td><%= service.fecha_de_entrega %></td>
              <td><%= service.client.alias%></td>
              <td><%= service.provider.alias %></td>
              <td><%= service.charter.alias %></td>
              <% if user_signed_in? && current_user.admin? %>
              <td><%= service.gasto_operacion %></td>
              <% end %>
              <td><%= link_to 'Ver más', etapa_1_service_path(service) %></td>
              <!-- <td><%#= link_to 'Continuar', etapa_1_service_path(service) %></td> -->
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div> 
            <div class="row">
  <div class="center">
    <% unless @services2.blank? %>
    <%= will_paginate @services2 %>
    <% end %>
  </div>
</div>      
    </div>
  </div>
</div>
</div>

<!--  -->

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Etapa 3:</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Remisión</th>
              <th>Pedido</th>
              <th>Cantidad</th>
              <th>Fecha de entrega</th>
              <th>Cliente</th>
              <th>Proveedor</th>
              <th>Fletera</th>
              <% if user_signed_in? && current_user.admin? %>
              <th>Gasto operacion</th>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @services3.each do |service| %>
            <tr>
              
              <td><%= service.codigo_remision %></td>
              <td><%= service.order.numero_de_orden %></td>
              <td><%= service.cantidad %></td>
              <td><%= service.fecha_de_entrega %></td>
              <td><%= service.client.alias%></td>
              <td><%= service.provider.alias %></td>
              <td><%= service.charter.alias %></td>
              <% if user_signed_in? && current_user.admin? %>
              <td><%= service.gasto_operacion %></td>
              <% end %>
              <td><%= link_to 'Ver más', etapa_1_service_path(service) %></td>
              <!-- <td><%#= link_to 'Continuar', etapa_1_service_path(service) %></td> -->
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
            <div class="row">
  <div class="center">
    <% unless @services3.blank? %>
    <%= will_paginate @services3 %>
    <% end %>
  </div>
</div>       
    </div>
  </div>
</div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Etapa 4:</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Remisión</th>
              <th>Pedido</th>
              <th>Cantidad</th>
              <th>Fecha de entrega</th>
              <th>Cliente</th>
              <th>Proveedor</th>
              <th>Fletera</th>
              <% if user_signed_in? && current_user.admin? %>
              <th>Gasto operacion</th>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @services4.each do |service| %>
            <tr>
              
              <td><%= service.codigo_remision %></td>
              <td><%= service.order.numero_de_orden %></td>
              <td><%= service.cantidad %></td>
              <td><%= service.fecha_de_entrega %></td>
              <td><%= service.client.alias%></td>
              <td><%= service.provider.alias %></td>
              <td><%= service.charter.alias %></td>
              <% if user_signed_in? && current_user.admin? %>
              <td><%= service.gasto_operacion %></td>
              <% end %>
              <td><%= link_to 'Ver más', etapa_1_service_path(service) %></td>
              <!-- <td><%#= link_to 'Continuar', etapa_1_service_path(service) %></td> -->
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div> 

      <div class="row">
  <div class="center">
    <% unless @services4.blank? %>
    <%= will_paginate @services4 %>
    <% end %>
  </div>
</div>      
    </div>
  </div>
</div>
</div>

<!--  -->


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Etapa 5:</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Remisión</th>
              <th>Pedido</th>
              <th>Cantidad</th>
              <th>Fecha de entrega</th>
              <th>Cliente</th>
              <th>Proveedor</th>
              <th>Fletera</th>
              <% if user_signed_in? && current_user.admin? %>
              <th>Gasto operacion</th>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @services5.each do |service| %>
            <tr>
              
              <td><%= service.codigo_remision %></td>
              <td><%= service.order.numero_de_orden %></td>
              <td><%= service.cantidad %></td>
              <td><%= service.fecha_de_entrega %></td>
              <td><%= service.client.alias%></td>
              <td><%= service.provider.alias %></td>
              <td><%= service.charter.alias %></td>
              <% if user_signed_in? && current_user.admin? %>
              <td><%= service.gasto_operacion %></td>
              <% end %>
              <td><%= link_to 'Ver más', etapa_1_service_path(service) %></td>
              <!-- <td><%#= link_to 'Continuar', etapa_1_service_path(service) %></td> -->
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div> 

      <div class="row">
  <div class="center">
    <% unless @services5.blank? %>
    <%= will_paginate @services5 %>
    <% end %>
  </div>
</div>      
    </div>
  </div>
</div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Etapa 6:</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Remisión</th>
              <th>Pedido</th>
              <th>Cantidad</th>
              <th>Fecha de entrega</th>
              <th>Cliente</th>
              <th>Proveedor</th>
              <th>Fletera</th>
              <% if user_signed_in? && current_user.admin? %>
              <th>Gasto operacion</th>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @services6.each do |service| %>
            <tr>
              
              <td><%= service.codigo_remision %></td>
              <td><%= service.order.numero_de_orden %></td>
              <td><%= service.cantidad %></td>
              <td><%= service.fecha_de_entrega %></td>
              <td><%= service.client.alias%></td>
              <td><%= service.provider.alias %></td>
              <td><%= service.charter.alias %></td>
              <% if user_signed_in? && current_user.admin? %>
              <td><%= service.gasto_operacion %></td>
              <% end %>
              <td><%= link_to 'Ver más', etapa_1_service_path(service) %></td>
              <!-- <td><%#= link_to 'Continuar', etapa_1_service_path(service) %></td> -->
              <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div> 
      <div class="row">
  <div class="center">
    <% unless @services6.blank? %>
    <%= will_paginate @services6 %>
    <% end %>
  </div>
</div>      
    </div>
  </div>
</div>
</div>

<!--  -->