<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Site search</h4>
      </div>
      <div class="panel-body">
        <%= form_with url: root_path, method: :get, local: true do |form| %>
          <%= form.search_field :search, value: params[:search] %>
        <% end %>
        <ul>
          <% @search_results.each do |search_result| %>
            <% search_result.with_highlights.each do |record, highlights| %>
              <li>
                <% path = (record.class == Service) ? etapa_1_service_path(record) : record %>
                <%= link_to path, style: "color: #3287B2;" do %>
                  <% highlights.each do |field, value| %>
                    <%= value.html_safe %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to new_order_path do %>
    <div id="mexico" class="mexico1">
      <h5>Nuevo pedido</h5>
    </div>
    <% end %>
  </div>

<div class="col-md-6">
    <%= link_to new_service_path do %>
    <div id="mexico" class="mexico2">
      <h5>Nueva remisi칩n</h5>
    </div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <%= link_to new_client_path do %>
    <div id="mexico" class="mexico3">
      <h5>Nuevo cliente</h5>
    </div>
    <% end %>
  </div>

<div class="col-md-3">
    <%= link_to new_product_path do %>
    <div id="mexico" class="mexico4">
      <h5>Nuevo producto</h5>
    </div>
    <% end %>
  </div>

<div class="col-md-3">
    <%= link_to new_provider_path do %>
    <div id="mexico" class="mexico5">
      <h5>Nuevo proveedor</h5>
    </div>
    <% end %>
  </div>

<div class="col-md-3">
    <%= link_to new_charter_path do %>
    <div id="mexico" class="mexico6">
      <h5>Nueva fletera</h5>
    </div>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Remisiones</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= column_chart Service.group_by_month(:created_at, format: "%G-%B").count,
    title: 'Remisiones mensuales',
    colors: ['#F9A972'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Producto m치s vendido del mes (<%= Product.find(@most_sold_product_id).nombre if @most_sold_product_id.present? %>)</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.where(fecha_de_entrega: DateTime.now.beginning_of_month..DateTime.now.end_of_month, product_id: @most_sold_product_id).group_by_day(:fecha_de_entrega, format: "%e").sum(:cantidad_real_etregada),
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Ventas mensuales</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.group_by_month(:fecha_de_entrega, format: "%G-%B").sum("cantidad_real_etregada*precio_de_venta"),
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Compras mensuales</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.group_by_month(:fecha_de_entrega, format: "%G-%B").sum("cantidad_real_etregada*precio_de_compra"),
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Utilidad mensual</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.group_by_month(:fecha_de_entrega, format: "%G-%B").sum("cantidad_real_etregada*(precio_de_venta-precio_de_compra)"),
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Balance de Proveedores</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= number_to_currency @all_providers_balance %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Balance de Fleteras</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= number_to_currency @all_charters_balance %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div id="balance" style="position: relative; top: -100px;"></div>
    <div class="panel panel-headline">
      <div class="panel-heading">
        Balance de
        <% if @balance == 'providers' %>
          Proveedores
          <%= link_to 'Fleteras', root_path(balance: :charters, anchor: :balance), style: "color: #3287B2 !important;" %>
        <% else %>
          <%= link_to 'Proveedores', root_path(balance: :providers, anchor: :balance), style: "color: #3287B2 !important;" %>
          Fleteras
        <% end %>
        <hr>
      </div>
      <div class="panel-body">
        <%= render "welcome/balance_#{@balance}" %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div id="unpaid" style="position: relative; top: -100px;"></div>
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Servicios por cobrar</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= render "welcome/unpaid" %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Pedidos</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Order.group_by_month(:created_at, format: "%G-%B").count,
    title: 'Pedidos mensuales',
    colors: ['#C87DB5'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Producto Pedido</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Order.all.group_by_month(:fecha_de_orden, last: 12, current: false).sum('cantidad'),
    title: 'Producto mensual pedido',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Producto entregado</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.all.group_by_month(:fecha_de_entrega, last: 12, current: false).sum('cantidad_real_etregada'),
    title: 'Producto mensual entregado',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Pago a proveedores</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart ProviderPayment.all.group_by_month(:fecha, last: 12, current: false).sum('cantidad'),
    title: 'Pago mensual a proveedores',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Pago a fleteras</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart CharterPayment.all.group_by_month(:fecha, last: 12, current: false).sum('cantidad'),
    title: 'Pago mensual a fleteras',
    colors: ['green'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Facturaci칩n</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= line_chart Service.all.group_by_month(:fecha_de_entrega, last: 12, current: false).sum('total_venta'),
    title: 'Facturaci칩n Mensual',
    colors: ['#F26D6B'],
    library: {
      yAxis: {
           labels: {
               format: '${value}'
           }
       },
          tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
        }
%>     
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "https://www.google.com/jsapi" %>


<div class="row">
  <div id="steps" style="position: relative; top: -100px;"></div>
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        Etapa:&nbsp;
        <% (1..5).each do |step| %>
          <% if @step.to_s == step.to_s %>
            <%= step %>
          <% else %>
            <%= link_to step, root_path(step: step, anchor: :steps), style: "color: #3287B2 !important;" %>
          <% end %>
        <% end %>
        <br>
        <br>
        <h4>Etapa <%= @step %>:</h4>
        <hr>
      </div>
      <div class="panel-body">
        <%= render "welcome/etapa_#{@step}" %>
      </div>
    </div>
  </div>
</div>
