<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :Cerrado %>
    <%= form.check_box :cerrado, id: :order_cerrado %>
  </div>

  <div class="field">
    <%= form.label :numero_de_orden %>
    <%= form.text_field :numero_de_orden, id: :order_numero_de_orden, required:true %>
  </div>


  <div class="field">
    <%= form.label :fecha_de_inicio %>
    <%= form.date_field :fecha_de_orden, id: :order_fecha_de_orden, required:true %>
  </div>

  <div class="field">
    <%= form.label :nombre_encargado %>
    <%= form.text_field :nombre_encargado, id: :order_nombre_encargado %>
  </div>

  <div class="field">
    <%= form.label :email_encargado %>
    <%= form.text_field :email %>
  </div>



  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :order_descripcion %>
  </div>

  <div class="row">

<div class="col-md-6">
    <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad, id: :order_cantidad,  step: :any, required:true %>
  </div>
</div>

  <div class="col-md-6">
  <div class="field">
    <%= form.label :precio_unitario %>
    <%= form.number_field :precio_unitario, id: :order_precio_unitario,  step: :any, required:true %>
  </div>
  </div>

  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
