<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Pedidos</h3>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              
              <th>Client</th>
              <th>Product</th>
              <th>Numero de orden</th>
              <th>Fecha de orden</th>
              <th>Nombre encargado</th>
              <th>Cantidad Total del Pedido</th>
              <th>Cantidad Entregada</th>
              <th>Cantidad Restante</th>
              <th>Descripcion</th>
              <th>Precio unitario</th>
              <th>Valor total</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
            <tr>
              
              <td><%= order.client.alias %></td>
              <td><%= order.product.nombre %></td>
              <td><%= order.numero_de_orden %></td>
              <td><%= order.fecha_de_orden %></td>
              <td><%= order.nombre_encargado %></td>
              <td><%= @xo=  order.cantidad %></td>
              <td><%= @xe=  order.services.map(&:cantidad).sum%></td>
              <td><%= @xi= @xo - @xe  %></td>
              <td><%= order.descripcion %></td>
              <td><%= order.precio_unitario %></td>
              <td><%= order.valor_total %></td>
              <td><%= link_to 'Ver más', order %></td>
              <td><%= link_to 'Editar', edit_order_path(order) %></td>
              <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>
</div>