<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Buscar pedidos</h4>
        <hr>
      </div>
      <div class="panel-body">
 <%= search_form_for @q do |f| %>
      <div class="row">
    </div>

  <div class="row">
    <div class="input-daterange" id="datepicker">
      <div class="col-md-3">
        <label>Fecha Inicial:</label>
        <%= f.text_field :fecha_de_orden_gteq, class: "form-control2", placeholder: "Date >= to" %>
      </div>
      <div class="col-md-3">
        <label>Fecha Final:</label>
        <%= f.text_field :fecha_de_orden_lteq, class: "form-control2", placeholder: "Date <= to" %>
      </div>

      <div class="col-md-3">
        <label>Número de orden:</label>
        <%= f.search_field :numero_de_orden_cont, placeholder: "Número de orden"  %>
      </div>

      <div class="col-md-3">
        <label>Nombre del encargado:</label>
        <%= f.search_field :nombre_encargado_cont, placeholder: "Nombre del encargado"  %>
      </div>

      <div class="col-md-3">
        <label>Status:</label>
        <%
          if params[:q]
            selected = params[:q][:cerrado_eq] == 'true' ? ["Cerrada", true] : ["Abierta", false]
          end
        %>
        <%= f.select :cerrado_eq, options_for_select([["Cerrada", true], ["Abierta", false]], selected), { prompt: 'Elegir status' } %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Buscar", class: "btn btn-primary" %>
      </div>
      </div>    
    <% end %>       
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Pedidos</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Status</th>
              <th>Número de orden</th>
              <th>Fecha de inicio</th>
              <th>Nombre encargado</th>
              <th>Cantidad Total del Pedido</th>
              <th>Cantidad Entregada</th>
              <th>Cantidad Restante</th>
              <th>Descripcion</th>
              <% if can? :manage, Order %>
                <th>Precio unitario</th>
                <th>Valor total</th>
                <th colspan="3"></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
            <tr class='clickable-row' style='cursor: pointer;' data-href='<%= order_url(order) %>'>
              
              <% if order.cerrado? %>
              <td>Cerrada</td>
              <% else %>
              <td>Abierta</td>
              <% end %>
              <td><%= order.numero_de_orden %></td>
              <td><%= order.fecha_de_orden.strftime(" %d-%m-%Y") %></td>
              <td><%= order.nombre_encargado %></td>
              <td><%= @xo=  order.cantidad %></td>
              <td><%= @xe=  order.services.map(&:cantidad_real_etregada).sum%></td>
              <td><%= @xi= @xo - @xe  %></td>
              <td><%= order.descripcion %></td>
              <% if can? :manage, Order %>
                <td><%= number_to_currency order.precio_unitario %></td>
                <td><%= number_to_currency order.valor_total %></td>
                <td><%= link_to 'Ver más', order %></td>
                <td><%= link_to 'Editar', edit_order_path(order) %></td>
                <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="center">
    <% unless @orders.blank? %>
    <%= will_paginate @orders %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.form-control2').datepicker({
      todayHighlight: true,
      toggleActive: true,
      format: "mm-yyyy",
      viewMode: "months", 
      minViewMode: "months"
    });
  });
</script>