<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Numero de orden:</strong>
  <%= @order.numero_de_orden %>
</p>

<p>
  <strong>Fecha de inicio:</strong>
  <%= @order.fecha_de_orden.strftime(" %d-%m-%Y") %>
</p>

<p>
  <strong>Nombre encargado:</strong>
  <%= @order.nombre_encargado %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @order.cantidad %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @order.descripcion %>
</p>

<p>
  <strong>Precio unitario:</strong>
  <%= @order.precio_unitario %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= number_to_currency @order.valor_total - @order.iva_pedido %>
</p>

<p>
  <strong>IVA:</strong>
  <%= number_to_currency @order.iva_pedido %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= number_to_currency @order.valor_total %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
