<span>Ano:&nbsp</span>
<% @years.reverse.each do |year| %>
  <% if year.to_s == @year.to_s %>
    <%= year %>
  <% else %>
    <%= link_to year, reporte_path(year: year), style: "color: #3287B2 !important;" %>
  <% end %>
<% end %>

<br>

<span>Mes:&nbsp</span>
<% @months.each do |month| %>
  <% if month.to_s == @month.to_s %>
    <%= month %>
  <% else %>
    <%= link_to month, reporte_path(year: @year, month: month), style: "color: #3287B2 !important;" %>
  <% end %>
<% end %>

<br>
<br>

<div class="row">
	<% @services.group_by(&:month).each do |month, services| %>
	<div class="col-md-12">
		<div class="panel panel-headline">

			<div class="panel-heading">
			<h4><%= month %></h4>
		</div>

		<div class="panel-body">
			<div class="content table-responsive table-full-width">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
						<th>ID</th>
						<th>Número Remisión</th>
						<th>Fecha de Entrega</th>
						<th>Status</th>
						<th>Cliente</th>
						<th>Proveedor</th>
						<th>Fletera</th>
						<th>Cantidad entregada</th>
						<th>Total de Venta</th>
						<th>Gastos de Operación</th>
						<th>Ganancia Bruta</th>
						<th>GR</th>
						<th>ID</th>
						</tr>
					</thead>
					<tbody>
						<% services.each do |service| %>

							
							<tr>
								<td><%= service.id %></td>
								<td><%= link_to "#{service.codigo_remision}", etapa_1_service_path(service) %></td>
								<td><%= service.fecha_de_entrega %></td>
								<td><%= service.status_comercial %></td>
								<td><%= service.client.alias%></td>
								<td><%= service.provider.alias %></td>
								<td><%= service.charter.alias %></td>
								<td><%= service.cantidad_real_etregada %> kilos</td>
								<td><%= number_to_currency service.total_venta %></td>
								<td><%= number_to_currency service.gasto_operacion %></td>
								<td><%= number_to_currency service.ganancia %></td>
								<td><%= service.gr %></td>
								<td><%= service.id%></td>
							</tr>

						<% end %>

							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><%=number_to_currency @g= services.map(&:total_venta).sum%></td>
								<td><%=number_to_currency @g= services.map(&:gasto_operacion).sum%></td>
								<td><%=number_to_currency @g= services.map(&:ganancia).sum%></td>
								<td></td>
								<td></td>
							</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div class="row">
  <div class="center">
    <% unless @services.blank? %>
    <%= will_paginate @services %>
    <% end %>
  </div>
</div>


