<%= form_with(model: charter, local: true) do |form| %>
  <% if charter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charter.errors.count, "error") %> prohibited this charter from being saved:</h2>

      <ul>
      <% charter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
  <div class="col-md-6">
  <div class="field">
    <%= form.label :alias %>
    <%= form.text_field :alias, id: :charter_alias, required:true %>
  </div>
  </div>

  <div class="col-md-6">
  <div class="field">
    <%= form.label :rfc %>
    <%= form.text_field :rfc, id: :charter_rfc, required:true %>
  </div>
  </div>
  </div>

  <div class="field">
    <%= form.label :razon_social %>
    <%= form.text_field :razon_social, id: :charter_razon_social %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :charter_direccion %>
  </div>

  <div class="field">
    <%= form.label :encargado %>
    <%= form.text_field :encargado, id: :charter_encargado, required:true %>
  </div>

  <div class="row">
  <div class="col-md-6">
  <div class="field">
    <%= form.label :telefono_encargado %>
    <%= form.text_field :telefono_encargado, id: :charter_telefono_encargado %>
  </div>
  </div>

  <div class="col-md-6">
  <div class="field">
    <%= form.label :correo_encargado %>
    <%= form.text_field :correo_encargado, id: :charter_correo_encargado, required:true %>
  </div>
  </div>
  </div>

  <div class="field">
    <%= form.label :codigo_fletera %>
    <%= form.text_field :codigo_fletera, id: :charter_codigo_fletera, required:true %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
