<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h3>Fleteras</h3>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              
              <th>Alias</th>
              <th>Rfc</th>
              <th>Razon social</th>
              <th>Precio del viaje</th>
              <th>Codigo fletera</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @charters.each do |charter| %>
            <tr>
              
              <td><%= charter.alias %></td>
              <td><%= charter.rfc %></td>
              <td><%= charter.razon_social %></td>
              <td><%= charter.precio_de_envio%></td>
              <td><%= charter.codigo_fletera %></td>
              <td><%= link_to 'Ver más', charter %></td>
              <td><%= link_to 'Editar', edit_charter_path(charter) %></td>
              <td><%= link_to 'Eliminar', charter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>
</div>