<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Buscar Fletera</h4>
        <hr>
      </div>
      <div class="panel-body">
 <%= search_form_for @q do |f| %>
      <div class="row">
      <div class="col-md-12">
        <label>Fletera:</label>
        <%= f.search_field :razon_social_or_rfc_or_alias_cont, placeholder: "Buscar fletera por Razón Social, R.F.C o Alias"  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.submit "Buscar", class: "btn btn-primary" %>
      </div>
      </div>    
    <% end %>       
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Fleteras</h4>
        <hr>
      </div>
      <div class="panel-body">
       <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              
              <th>Alias</th>
              <th>Rfc</th>
              <th>Razon social</th>
              <% if can? :manage, Charter %>
                <th>Precio del viaje</th>
              <% end %>
              <th>Codigo fletera</th>
              <th>Status</th>
              <% if can? :manage, Charter %>
                <th colspan="3"></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @charters.each do |charter| %>
            <tr class='clickable-row' style='cursor: pointer;' data-href='<%= charter_url(charter) %>'>
              
              <td><%= charter.alias %></td>
              <td><%= charter.rfc %></td>
              <td><%= charter.razon_social %></td>
              <% if can? :manage, Charter %>
                <td><%= charter.precio_de_envio%></td>
              <% end %>
              <td><%= charter.codigo_fletera %></td>
              <td class="text-capitalize"><%= charter.status %></td>
              <% if can? :manage, Charter %>
              <td class="link"><%= link_to 'Ver más', charter %></td>
              <td class="link"><%= link_to 'Editar', edit_charter_path(charter) %></td>
              <td class="link"><%= link_to 'Eliminar', charter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="center">
    <% unless @charters.blank? %>
    <%= will_paginate @charters %>
    <% end %>
  </div>
</div>