<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4><%= @charter.alias %></h4>
      </div>

      <div class="panel-body">
        <p>
          <strong>Razon social:</strong>
          <%= @charter.razon_social %>
        </p>

        <p>
          <strong>Direccion:</strong>
          <%= @charter.direccion %>
        </p>

        <p>
          <strong>Encargado:</strong>
          <%= @charter.encargado %>
        </p>

        <p>
          <strong>Telefono encargado:</strong>
          <%= @charter.telefono_encargado %>
        </p>

        <p>
          <strong>Correo encargado:</strong>
          <%= @charter.correo_encargado %>
        </p>

        <p>
          <strong>Codigo fletera:</strong>
          <%= @charter.codigo_fletera %>
        </p>

      </div>

    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-headline">
      <div class="panel-heading">
        <h4>Saldos</h4>
      </div>
      <div class="panel-body">
      <div class="row">
        <div class="col-md-5">

      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Pagos</th>
              <th></th>
              <th></th>
            </tr>

            <tr>
              <th></th>
              <th>Fecha</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @charter.charter_payments.each do |payment| %>
            <tr>
              <td><%= number_to_currency payment.cantidad %></td>
              <td><%= payment.fecha %></td>
              <td><%= link_to 'Eliminar', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>

            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><strong>Total:</strong><%= number_to_currency @c1 = @charter.charter_payments.map(&:cantidad).sum %></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
          
        </div>
        <div class="col-md-7">

      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Ventas</th>
              <th></th>
            </tr>

            <tr>
              <th>Código de Remisión</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @charter.services.each do |service| %>
            <tr>
              <td><%= link_to  "#{service.codigo_remision}", etapa_1_service_path(service)%></td>
              <td><%= number_to_currency service.charter.precio_de_envio %></td>
            </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td><strong>Total:</strong> <%= number_to_currency @c2= @charter.services.map(&:charter).map(&:precio_de_envio).sum %></td>
            </tr>
          </tbody>
        </table>
      </div>
          
        </div>
      </div>

<h2>Saldo: <%= number_to_currency @c1 - @c2 %></h2>

      </div>
    </div>
  </div>
</div>

