<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <strong>Codigo producto:</strong>
  <%= @product.codigo_producto %>
</p>

<p>
  <strong>Costo del producto:</strong>
  <%= @product.costo_producto %>
</p>

<p>
  <strong>Precio venta producto:</strong>
  <%= @product.precio_de_venta %>
</p>

<p>
  <strong>Caracteristicas:</strong>
  <%= @product.caracteristicas %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
