<!DOCTYPE html>
<html>
<head>
	<%= csrf_meta_tags %>
	<%= display_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<script src="https://use.fontawesome.com/7dee056668.js"></script>
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <% if alert %>
    <p class="alert"><%= alert %></p>
    <% elsif notice %>
    <p class="notice"><%= notice %></p>
    <% end %>

    
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="<%= root_path %>"><img src="/images/andak.png" alt="Andak" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="material-icons">arrow_back</i></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><%#=current_user.name %></span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%= edit_user_registration_path %>"><i class="lnr lnr-user"></i> <span>Mi Perfil</span></a></li>
                                <li><a href="<%= destroy_user_session_path %>" data-method='delete'><i class="lnr lnr-exit"></i> <span>Cerrar Sesión</span></a></li>
                            </ul>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="<%= root_path %>" class="<%= 'active' if current_page?(root_path) %>"><i class="material-icons">account_balance</i> <span>Inicio</span></a></li>
                        <li>
                            <li>
                                <a href="#subPages" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(clients_path) or current_page?(new_client_path) %>"><i class="material-icons">assignment_ind</i> <span>Clientes</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages" class="<%= 'collapse' unless current_page?(clients_path) or current_page?(new_client_path)  %> <%= 'active' if current_page?(clients_path) or current_page?(new_client_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_client_path %>" class="<%= 'active' if current_page?(new_client_path) %>">Nuevo Cliente</a></li>
                                        <li><a href="<%= clients_path %>" class="<%= 'active' if current_page?(clients_path) %>">Todos los Clientes</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->


                            <li>
                                <a href="#subPages01" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(providers_path) or current_page?(new_provider_path) or current_page?(new_provider_payment_path) %>"><i class="material-icons">how_to_reg</i> <span>Proveedores</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages01" class="<%= 'collapse' unless current_page?(providers_path) or current_page?(new_provider_path)  %> <%= 'active' if current_page?(providers_path) or current_page?(new_provider_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_provider_path %>" class="<%= 'active' if current_page?(new_provider_path) %>">Nuevo Proveedor</a></li>
                                        <li><a href="<%= providers_path %>" class="<%= 'active' if current_page?(providers_path) %>">Todos los Proveedores</a></li>
                                        <li><a href="<%= new_provider_payment_path %>" class="<%= 'active' if current_page?(new_provider_payment_path) %>">Pago a Proveedor</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->


                            <li>
                                <a href="#subPages02" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(charters_path) or current_page?(new_charter_path) or current_page?(new_charter_payment_path) %>"><i class="material-icons">directions_bus</i> <span>Fleteras</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages02" class="<%= 'collapse' unless current_page?(charters_path) or current_page?(new_charter_path)  %> <%= 'active' if current_page?(charters_path) or current_page?(new_charter_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_charter_path %>" class="<%= 'active' if current_page?(new_charter_path) %>">Nueva Fletera</a></li>
                                        <li><a href="<%= charters_path %>" class="<%= 'active' if current_page?(charters_path) %>">Todas las Fleteras</a></li>
                                        <li><a href="<%= new_charter_payment_path %>" class="<%= 'active' if current_page?(new_charter_payment_path) %>">Pago a Fletera</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->


                            <li>
                                <a href="#subPages03" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(products_path) or current_page?(new_product_path) %>"><i class="material-icons">layers</i> <span>Productos</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages03" class="<%= 'collapse' unless current_page?(products_path) or current_page?(new_product_path)  %> <%= 'active' if current_page?(products_path) or current_page?(new_product_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_product_path %>" class="<%= 'active' if current_page?(new_product_path) %>">Nuevo Producto</a></li>
                                        <li><a href="<%= products_path %>" class="<%= 'active' if current_page?(products_path) %>">Todos los productos</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->


                            <li>
                                <a href="#subPages04" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(orders_path) or current_page?(new_order_path) %>"><i class="material-icons">folder_open</i> <span>Pedidos</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages04" class="<%= 'collapse' unless current_page?(orders_path) or current_page?(new_order_path)  %> <%= 'active' if current_page?(orders_path) or current_page?(new_order_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_order_path %>" class="<%= 'active' if current_page?(new_order_path) %>">Nuevo Pedido</a></li>
                                        <li><a href="<%= orders_path %>" class="<%= 'active' if current_page?(orders_path) %>">Todos los Pedidos</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->


                            <li>
                                <a href="#subPages05" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(services_path) or current_page?(new_service_path) %>"><i class="material-icons">storage</i> <span>Remisión</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                                <div id="subPages05" class="<%= 'collapse' unless current_page?(services_path) or current_page?(new_service_path)  %> <%= 'active' if current_page?(services_path) or current_page?(new_service_path) %>">
                                    <ul class="nav">
                                        <li><a href="<%= new_service_path %>" class="<%= 'active' if current_page?(new_service_path) %>">Nueva Remisión</a></li>
                                        <li><a href="<%= services_path %>" class="<%= 'active' if current_page?(services_path) %>">Todas las Remisiones</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!--  -->


                   

                           <!--  <li><a href="<%#= services_path %>" class="<%#= 'active' if current_page?(services_path) %>"><i class="material-icons">build</i> <span>Servicios</span></a></li> -->
                        


                               
                                            

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- END LEFT SIDEBAR -->
                                <!-- MAIN -->
                                <div class="main">
                                    <!-- MAIN CONTENT -->
                                    <div class="main-content">
                                        <div class="container-fluid">
                                            <!-- OVERVIEW -->
                                            
                                            <%= yield %>
                                        </div>
                                        <!-- END OVERVIEW -->
                                    </div>
                                </div>
                                <!-- END MAIN CONTENT -->
                            </div>
                            <!-- END MAIN -->
                            <div class="clearfix"></div>
                            <footer>
                                <div class="container-fluid">
                                    <p class="copyright">&copy; 2018 Andak</p>
                                </div>
                            </footer>
                        </div>
                        <!-- END WRAPPER -->
                    </body>
</html>
