<!DOCTYPE html>
<html>
<head>
	<%= csrf_meta_tags %>
	<%= display_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<script src="https://use.fontawesome.com/7dee056668.js"></script>
  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <% if alert %>
        <p class="alert"><%= alert %></p>
    <% elsif notice %>
        <p class="notice"><%= notice %></p>
    <% end %>

    
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="<%= root_path %>"><img src="/images/andak.png" alt="Andak" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="material-icons">arrow_back</i></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><%#=current_user.name %></span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%= edit_user_registration_path %>"><i class="lnr lnr-user"></i> <span>Mi Perfil</span></a></li>
                                <li><a href="<%= destroy_user_session_path %>" data-method='delete'><i class="lnr lnr-exit"></i> <span>Cerrar Sesión</span></a></li>
                            </ul>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar" style="overflow-y: auto;">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">

                        <!-- Inicio -->
                        <li><a href="<%= root_path %>" class="<%= 'active' if current_page?(root_path) %>"><i class="material-icons">account_balance</i> <span>Inicio</span></a></li>
                        <li>

                        <!-- Pedidos -->
                        <li>
                            <a href="#subPages04" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(orders_path) or current_page?(new_order_path) %>"><i class="material-icons">folder_open</i> <span>Pedidos</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <div id="subPages04" class="<%= 'collapse' unless current_page?(orders_path) or current_page?(new_order_path)  %> <%= 'active' if current_page?(orders_path) or current_page?(new_order_path) %>">
                                <ul class="nav">
                                  <% if can? :create, Order %>
                                    <li><a href="<%= new_order_path %>" class="<%= 'active' if current_page?(new_order_path) %>">Nuevo Pedido</a></li>
                                  <% end %>
                                    <li><a href="<%= orders_path %>" class="<%= 'active' if current_page?(orders_path) %>">Todos los Pedidos</a></li>
                                </ul>
                            </div>
                        </li>

                        <!-- Remision -->
                        <li>
                            <a href="#subPages05" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(services_path) or current_page?(new_service_path) %>"><i class="material-icons">storage</i> <span>Remisión</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <div id="subPages05" class="<%= 'collapse' unless current_page?(services_path) or current_page?(new_service_path)  %> <%= 'active' if current_page?(services_path) or current_page?(new_service_path) %>">
                                <ul class="nav">
                                    <li><a href="<%= new_service_path %>" class="<%= 'active' if current_page?(new_service_path) %>">Nueva Remisión</a></li>
                                    <li><a href="<%= services_path %>" class="<%= 'active' if current_page?(services_path) %>">Todas las Remisiones</a></li>
                                </ul>
                            </div>
                        </li>

                        <!-- Clientes -->
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(clients_path) or current_page?(new_client_path) %>"><i class="material-icons">assignment_ind</i> <span>Clientes</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <div id="subPages" class="<%= 'collapse' unless current_page?(clients_path) or current_page?(new_client_path)  %> <%= 'active' if current_page?(clients_path) or current_page?(new_client_path) %>">
                                <ul class="nav">
                                    <li><a href="<%= new_client_path %>" class="<%= 'active' if current_page?(new_client_path) %>">Nuevo Cliente</a></li>
                                    <li><a href="<%= clients_path %>" class="<%= 'active' if current_page?(clients_path) %>">Todos los Clientes</a></li>
                                </ul>
                            </div>
                        </li>

                        <!-- Productos -->
                        <li>
                            <a href="#subPages03" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(products_path) or current_page?(new_product_path) %>"><i class="material-icons">layers</i> <span>Productos</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <div id="subPages03" class="<%= 'collapse' unless current_page?(products_path) or current_page?(new_product_path)  %> <%= 'active' if current_page?(products_path) or current_page?(new_product_path) %>">
                                <ul class="nav">
                                    <% if can? :create, Product %>
                                      <li><a href="<%= new_product_path %>" class="<%= 'active' if current_page?(new_product_path) %>">Nuevo Producto</a></li>
                                    <% end %>
                                    <li><a href="<%= products_path %>" class="<%= 'active' if current_page?(products_path) %>">Todos los productos</a></li>
                                </ul>
                            </div>
                        </li>
                        
                        <!-- Proveedores -->
                        <li>
                            <a href="#subPages01" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(providers_path) or current_page?(new_provider_path) %>"><i class="material-icons">how_to_reg</i> <span>Proveedores</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <div id="subPages01" class="<%= 'collapse' unless current_page?(providers_path) or current_page?(new_provider_path)  %> <%= 'active' if current_page?(providers_path) or current_page?(new_provider_path) %>">
                                <ul class="nav">
                                    <% if can? :create, Provider %>
                                      <li><a href="<%= new_provider_path %>" class="<%= 'active' if current_page?(new_provider_path) %>">Nuevo Proveedor</a></li>
                                    <% end %>
                                    <li><a href="<%= providers_path %>" class="<%= 'active' if current_page?(providers_path) %>">Todos los Proveedores</a></li>
                                </ul>
                            </div>
                        </li>

                        <!-- Fleteras -->
                        <li>
                            <a href="#subPages02" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(charters_path) or current_page?(new_charter_path) %>"><i class="material-icons">directions_bus</i> <span>Fleteras</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <div id="subPages02" class="<%= 'collapse' unless current_page?(charters_path) or current_page?(new_charter_path)  %> <%= 'active' if current_page?(charters_path) or current_page?(new_charter_path) %>">
                                <ul class="nav">
                                    <% if can? :create, Charter %>
                                      <li><a href="<%= new_charter_path %>" class="<%= 'active' if current_page?(new_charter_path) %>">Nueva Fletera</a></li>
                                    <% end %>
                                    <li><a href="<%= charters_path %>" class="<%= 'active' if current_page?(charters_path) %>">Todas las Fleteras</a></li>
                                </ul>
                            </div>
                        </li>

                        <!-- Pagos -->
                        <li>
                            <a href="#subPages06" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(new_provider_payment_path) or current_page?(new_charter_payment_path) %>"><i class="material-icons">local_atm</i> <span>Pagos</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i></a>
                            <div id="subPages06" class="<%= 'collapse' unless current_page?(new_provider_payment_path) or current_page?(new_charter_payment_path)  %> <%= 'active' if current_page?(new_provider_payment_path) or current_page?(new_charter_payment_path) %>">
                                <ul class="nav">
                                    <li><a href="<%= new_provider_payment_path %>" class="<%= 'active' if current_page?(new_provider_payment_path) %>">Pago a Proveedor</a></li>
                                    <li><a href="<%= new_charter_payment_path %>" class="<%= 'active' if current_page?(new_charter_payment_path) %>">Pago a Fletera</a></li>
                                </ul>
                            </div>
                        </li>
                        
                        <!-- Reporte -->
                        <% if can? :manage, :page %>
                          <li><a href="<%= reporte_path %>" class="<%= 'active' if current_page?(reporte_path) %>"><i class="material-icons">assessment</i> <span>Reporte</span></a></li>
                        <% end %>

                        <!-- Companies -->
                        <% if can? :manage, Company %>
                          <li>
                              <a href="#subPages07" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(companies_path) or current_page?(new_company_path) %>">
                                <i class="material-icons">business</i> <span>Empresas</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i>
                              </a>
                              <div id="subPages07" class="<%= 'collapse' unless current_page?(companies_path) or current_page?(new_company_path)  %> <%= 'active' if current_page?(companies_path) or current_page?(new_company_path) %>">
                                  <ul class="nav">
                                    <li><a href="<%= new_company_path %>" class="<%= 'active' if current_page?(new_company_path) %>">Nueva Compania</a></li>
                                    <li><a href="<%= companies_path %>" class="<%= 'active' if current_page?(companies_path) %>">Todas las Empresas</a></li>
                                  </ul>
                              </div>
                          </li>
                        <% end %>

                        <!-- Users -->
                        <% if can? :manage, User %>
                          <li>
                              <a href="#subPages08" data-toggle="collapse" class="collapsed <%= 'active' if current_page?(users_path) or current_page?(new_user_path) %>">
                                <i class="material-icons">account_box</i> <span>Users</span> <i class="icon-submenu material-icons">keyboard_arrow_left</i>
                              </a>
                              <div id="subPages08" class="<%= 'collapse' unless current_page?(users_path) or current_page?(new_user_path)  %> <%= 'active' if current_page?(users_path) or current_page?(new_user_path) %>">
                                  <ul class="nav">
                                      <li><a href="<%= new_user_path %>" class="<%= 'active' if current_page?(new_user_path) %>">New user</a></li>
                                      <li><a href="<%= users_path %>" class="<%= 'active' if current_page?(users_path) %>">All users</a></li>
                                  </ul>
                              </div>
                          </li>
                        <% end %>

                        <!-- Service quantity -->
                        <li><a href="<%= search_services_path %>" class="<%= 'active' if current_page?(search_services_path) %>"><i class="material-icons">insert_photo</i> <span>Cantidad de remision</span></a></li>
                        <li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- OVERVIEW -->
                    
                    <%= yield %>
                </div>
                <!-- END OVERVIEW -->
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2019 Andak</p>
        </div>
    </footer>
      </div>
      <!-- END WRAPPER -->

    <script type="text/javascript">
      $(document).ready(function($) {
        $(".clickable-row > td").not('.link').click(function() {
            window.location = $(this).parent().data("href");
        });
      });
    </script>
  </body>
</html>
